<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>HeterogeneousNetwork</display-name>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>com.control.main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.control.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetAllServlet</servlet-name>
    <servlet-class>com.control.GetAllDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllServlet</servlet-name>
    <url-pattern>/getalldata.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ToTopo</servlet-name>
    <servlet-class>com.control.ToTopo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToTopo</servlet-name>
    <url-pattern>/toTopo.action</url-pattern>
  </servlet-mapping>
</web-app>